<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/prasanna.prabakaran/IdeaProjects/Email application">
        <classes>
            <class name="testCases.loginTest_001"><methods><include name="loginTest"/></methods>
        </class>
            <class name="testCases.GetInboxData"><methods><include name="InboxData"/></methods>
            </class>
        </classes>
    </test></suite>